body {
  background-color: black;
}
.App {
  margin: 50px auto;
  padding: 20px;
  max-width: 700px;
}
.container {
  background-image: url(https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.card-body {
  padding: 0;
}
.card-title {
  margin: 0;
}
.card {
  color: white;
  background-color: rgba(65, 63, 63, 0.7) !important;
  opacity: 0.9;
  margin: 0px;
}
.btn {
  margin: 2px;
}
div.card.text-center:hover {
  box-shadow: 4px 4px 4px black;
  opacity: 1;
}
.row {
  margin: 5px 0px;
  padding: 0;
}
