.NavBar {
  border-radius: 0.25em;
  margin: 5px;
  color: white;
  background-color: rgba(65, 63, 63, 0.7) !important;
  opacity: 0.9;
  text-align: center;
}

.NavBar .navbar-brand {
  display: inline-block;
  line-height: inherit;
  white-space: nowrap;
  font-family: "Alfa Slab One", cursive;
  font-size: 40px;
}

.NavBar:hover {
  box-shadow: 4px 4px 4px black;
  opacity: 1;
}
.NavBar .searchCityID {
  border: none;
  box-shadow: none;
}
